[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/bundle/coffee"]
	path = bundle/bundle/coffee
	url = git@github.com:kchmck/vim-coffee-script.git
	ignore = dirty
[submodule "bundle/coffee"]
	path = bundle/coffee
	url = git@github.com:kchmck/vim-coffee-script.git
	ignore = dirty
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = git@github.com:mattn/emmet-vim.git
	ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git@github.com:msanders/snipmate.vim.git
	ignore = dirty
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git@github.com:elzr/vim-json.git
	ignore = dirty
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = git@github.com:Raimondi/delimitMate.git
	ignore = dirty
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git@github.com:docunext/closetag.vim.git
	ignore = dirty
[submodule "snipmate-snippets"]
	path = snipmate-snippets
	url = git@github.com:scrooloose/snipmate-snippets.git
	ignore = dirty
[submodule "bundle/ember"]
	path = bundle/ember
	url = git@github.com:dsawardekar/ember.vim.git
	ignore = dirty
[submodule "bundle/portkey"]
	path = bundle/portkey
	url = git@github.com:dsawardekar/portkey.git
	ignore = dirty
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git@github.com:mustache/vim-mustache-handlebars.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/airline"]
	path = bundle/airline
	url = git@github.com:bling/vim-airline.git
	ignore = dirty
[submodule "bundle/node"]
	path = bundle/node
	url = git@github.com:moll/vim-node.git
	ignore = dirty
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = git@github.com:walm/jshint.vim.git
	ignore = dirty
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
	ignore = dirty
[submodule "bundle/vinegar"]
	path = bundle/vinegar
	url = git://github.com/tpope/vim-vinegar.git
	ignore = dirty
[submodule "bundle/netrw"]
	path = bundle/netrw
	url = git@github.com:vim-scripts/netrw.vim.git
	ignore = dirty
[submodule "bundle/html5"]
	path = bundle/html5
	url = git://github.com/othree/html5-syntax.vim.git
	ignore = dirty
[submodule "bundle/react-snippets"]
	path = bundle/react-snippets
	url = git@github.com:justinj/vim-react-snippets.git
	ignore = dirty
[submodule "bundle/omnisharp"]
	path = bundle/omnisharp
	url = https://github.com/nosami/Omnisharp.git
	ignore = dirty
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = git://github.com/tpope/vim-dispatch.git
	ignore = dirty
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git@github.com:ervandew/supertab.git
	ignore = dirty
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = git@github.com:Shougo/neocomplete.vim.git
	ignore = dirty